<div class="wrapper_lawyer_new">
  <div class="container_lawyer_info">
    <div class="lawyer_new_heading">
      <h1>Lawyers</h1>
      <h2>Sign Up</h2>
    </div>
    <div class="simple">
      <%= render 'form', lawyerinfo: @lawyerinfo %>
    </div>
  </div>
</div>
