// Specific CSS for your home-page

.home-headers {
  font-family: 'Rokkitt', serif;
  position: aboslute;
  margin-left: 100px;
  top: 100px;
}

#new_user {
  margin-top: 20px;
}

.home-headers h1 {
  color: #1C144C;
  margin-top: 0px;
  font-size: 70px;
}

.home-headers h3 {
  color: #73F0D6;
  margin: 0px;
  font-size: 30px;
  font-weight: medium;
  line-height: 40px;
}

.fab {
  color: #73F0D6;
}

.background-image-home {
  background-image: cover;
  background-repeat: no-repeat center center fixed;
  background-position:50% 50%;
  background-size:cover;
  width:100%;
  height: 500px;
}

.footer {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}
