.sign-in-container h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #1C144C;
}
h3 {
  padding: 15px;

}

.interview-requests {
  text-align: center;
}

.cv-requests {
  text-align: center;
}

.interview-modal {
  color: #1C144C;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #73F0D6;
  padding: 20px;
  border-radius: 15px;
}

//interviews section

.interviews-section {
  text-align: center;
  list-style-position: center;
  background-color: white;
  border-style: solid;
  border-color: #73F0D6;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  color: #1C144C;
}

.interview {
  display: flex;
  // display: inline-block;
}

.header-interviews {
  text-align: left;
}

#declined {
  opacity: 0.6;
}

#confirmed {
  background-color: #73F0D6;
}

#confirmed:hover {
  color: white;
}

.mycontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#interview-heading {
  text-align: center;
  margin-bottom: 20px;
}

tbody.tr {
  margin-left: 10px;
}
th {
  width: 200px;
}
td {
  width: 200px;
}
td p {
  text-align: left;
}
td a {
  float: left;
}
