<div class="background-image-home" style="background-image: url('<%= image_path 'background2' %>')">
  <div class="home-headers">
    <h1>Lasoo Lawyers</h1>
    <h3>Connecting Lawyers to Law Firms <br/>
    Shhh! Don't tell the recruiters...</h3>
  </div>
</div>

