<div class="background-image-home" style="background-image: url('<%= image_path 'background2.png' %>')">
  <div class="home-headers">
    <h1>Lasoo Lawyers</h1>
    <h3>Connecting Lawyers to Law Firms <br/>
    <h3><span id="banner-typed-text"></span></h3>
    </h3>
  </div>
</div>


