  // CARD

.card {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid #E7E7E7;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 40px;
}

.card-information {
  flex: 1 0 auto;
}

.card-info-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.card-info-title {
  margin-right: 60px;
  p {
    font-weight: 12px;
    color: #818181;
  }
  h4 {
    margin-bottom: 2px;
  }
}

.card-info-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .tag {
    margin-right: 20px;
    padding: 10px 17px;
    background-color: #1C144C;
    color: white;
    border-radius: 60px;
    font-weight: 14px;
  }
}

.card-info-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-right: 50px;
    font-size: 14px;
    font-weight: medium;
  }
}
